<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.2" />
      </system.Web>
  -->
  <system.web>
    <compilation targetFramework="4.5.2" debug="true"/>
    <httpRuntime requestValidationMode="2.0"/>
    <httpHandlers>
      <add verb="*" path="*" type="Timelapse.EverythingHandler" validate="false"/>
      <!-- -->
    </httpHandlers>
    <!--<httpModules>
      <add name="EverythingModule" type="Timelapse.EverythingModule" />
    </httpModules>-->
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <system.webServer>
    <directoryBrowse enabled="false"/>
    <handlers>
      <add name="EverythingHandler" verb="*" path="*" type="Timelapse.EverythingHandler"/>
    </handlers>
  </system.webServer>
</configuration>