<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
	<system.web>
		<httpRuntime requestValidationMode="2.0" />
		<compilation debug="true" targetFramework="4.0" />
		<httpHandlers>
			<add verb="*" path="*" type="Timelapse.EverythingHandler" validate="false" />
		</httpHandlers>
		<!--<httpModules>
			<add name="EverythingModule" type="Timelapse.EverythingModule" />
		</httpModules>-->
	</system.web>
	<system.webServer>
		<directoryBrowse enabled="false"/>
		<handlers>
			<add name="EverythingHandler" verb="*" path="*" type="Timelapse.EverythingHandler" validate="false" />
		</handlers>
	</system.webServer>

</configuration>
